.form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding: 2rem 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    background-color: white;
    border-radius: 6px;
    padding: 1rem .5rem;
    display: block;
    width: 100%;
}


.btn-solid-green {
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}